.tabla{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid rgb(108, 1, 96);
    margin: 20px 0;
}

.tabla .th{
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border: 1px solid rgb(108, 1, 96);
}

.tabla fila{
    border-bottom: 1px solid rgb(108, 1, 96);
}

.tabla td{
    padding: 10px;
    border: 1px solid rgb(108, 1, 96);
}